

.task {
    margin: 5px;
    padding: 3px;
    background-color: rgb(239, 255, 202);
    &.done {
        background-color: rgb(213, 255, 202);
       
    }
    .task-property {
        display: flex;
        margin: 3px;
        label {
            min-width: 120px;
        }
    }
}

.filter {
    display: flex;
    margin: 5px;
}

input {
    width: 100%;
}

button {
    margin: 3px;
}